<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/qa-automation-hws.log"
                     filePattern="logs/qa-automation-hws-%d{yyyy-MM-dd}-%i.log">
            <Policies>
                <TimeBasedTriggeringPolicy/><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
